<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/admin/login.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="login">
        <div class="login_content">
            <form action="/users/changepassword" method="post">
                <h1>Changepassword</h1>
                <p>Welcome to ddecorr.co </p>
                <div class="infor">
                    <label for="">Username</label>
                    <input name="username" type="text">
                    <label for="">Old Password</label>
                    <input name="oldP" type="password">
                    <label for="">New Password</label>
                    <input name="newP" type="password">
                    <label for="">Confirm</label>
                    <input name="confirm" type="password">
                    
                    <a href="">Forgot password ?</a>
                </div>
                <button name="changepassword" type="submit" onclick=" return confirm('Bạn có chắc chắn muốn đổi pass?')"></button>Change password</button>
                <div class="line"></div>
                <p class="signup">Don't have acount yet ? <a href="">Sign up</a></p>
            </form>
        </div>
    </div>
</body>
</html>