<link rel="stylesheet" href="/stylesheets/main.css">

<header>
    <div class="header-main">
        <% for (let b of listBan) { %>
            <div class="cover-banner"></div>
            <img src="imgs/<%=b.ban_img%>" alt="">
        <% } %>
    </div>
</header>