<footer>
    <div class="footer-content">
        <div class="line-blue"></div>
        <div class="footer-content-menu">
            <a href="">Delivery</a>
            <a href="">Cataloge</a>
            <a href="">Contacts</a>
            <a href="">Payment</a>
        </div>
        <div class="footer-content-social">
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
        </div>
        <div class="footer-content-teams">
            <p>Privacy Policy | Term of use</p>
        </div>
        <div class="line-white"></div>
        <div class="footer-content-copyright">
            <p>Copyright of mduyn 2023</p>
        </div>
        
    </div>
</footer>