<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/header.css">

<div class="header">
    <nav>
        <div class="nav-content">
            <h3 class="nav-logo">ddecoo.co</h3>
            <ul class="nav-menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href=""><ion-icon name="cart-outline"></ion-icon></a></li>
                <li><a href=""><ion-icon name="search-outline"></ion-icon></a></li>
            </ul>
        </div>
    </nav>
</div>