<link rel="stylesheet" href="/css/detailPro.css">

<div class="detail">
  <div class="main-detail">
      <div class="main-detail-img">
          <div class="main-detail-img-main">
              <img src="/imgs/<%=product.pro_img %>" alt="">
          </div>
          <div class="main-detail-img-detail">
            
          </div>
      </div>
      <div class="main-detail-infor">
          <p class="detail-name"><%= product.pro_name %></p>
          <p class="detail-price"><%= product.pro_price %></p>
          <p class="detail-amount">Amount in here hoho</p>
          <p class="detail-short-infor"><%= product.pro_description %> </p>
          <!-- <div class="detail-button">
              <p class="add-cart">Add cart</p>
              <p class="buy-now">Buy now</p>
          </div> -->
          
      </div>
  </div>
</div>