<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/shop.css">

<header>
    <%- include('partials/header') %>
</header>

<main class="product-main">
    <%- include('listPro') %>
</main>

<footer>
    <%- include('partials/footer') %>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
